﻿/*!
 *
.||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.

	.                                      '||            .
  .||.  .... ... ... ...    ....  ... ...   ||   ....   .||.    ....
   ||    '|.  |   ||'  || .|...||  ||'  ||  ||  '' .||   ||   .|...||
   ||     '|.|    ||    | ||       ||    |  ||  .|' ||   ||   ||
   '|.'    '|     ||...'   '|...'  ||...'  .||. '|..'|'  '|.'  '|...'
		.. |      ||               ||
		 ''      ''''             ''''      A Typographic Starter Kit

  URL ........... http://typeplate.com
  VERSION ....... 1.1.1
  Github ........ https://github.com/typeplate/typeplate.github.io
  AUTHORS ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
  LICENSE ....... Creative Commmons Attribution 3.0
  LICENSE URL ... http://creativecommons.org/licenses/by/3.0

 .||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.
 *
 */@font-face{font-family:"Ampersand";src:local("Georgia"),local("Garamond"),local("Palatino"),local("Book Antiqua");unicode-range:U+0026}@font-face{font-family:"Ampersand";src:local("Georgia");unicode-range:U+270C}body{word-wrap:break-word}pre code{word-wrap:normal}html{font:normal 112.5%/1.65 serif}body{-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;-o-hyphens:auto;hyphens:auto;color:#000}small{font-size:65%}h1,h2,h3,h4,h5,h6{text-rendering:optimizeLegibility;line-height:1;margin-top:0}.tera{font-size:117px;font-size:6.5rem;margin-bottom:0.25385rem}.giga{font-size:90px;font-size:5rem;margin-bottom:0.33rem}.mega{font-size:72px;font-size:4rem;margin-bottom:0.4125rem}.alpha,h1{font-size:60px;font-size:3.33333rem;margin-bottom:0.495rem}.beta,h2{font-size:48px;font-size:2.66667rem;margin-bottom:0.61875rem}.gamma,h3{font-size:36px;font-size:2rem;margin-bottom:0.825rem}.delta,h4{font-size:24px;font-size:1.33333rem;margin-bottom:1.2375rem}.epsilon,h5{font-size:21px;font-size:1.16667rem;margin-bottom:1.41429rem}.zeta,h6{font-size:18px;font-size:1rem;margin-bottom:1.65rem}p{margin:auto auto 1.5em}p+p{text-indent:1.5em;margin-top:-1.5em}abbr,acronym,blockquote,code,dir,kbd,listing,plaintext,q,samp,tt,var,xmp{-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;-o-hyphens:none;hyphens:none}pre code{white-space:-moz-pre-wrap;white-space:pre-wrap}pre{white-space:pre}code{white-space:pre;font-family:monospace}abbr{font-variant:small-caps;font-weight:600;text-transform:lowercase;color:gray}abbr[title]:hover{cursor:help}h1,h2,h3,h4,h5,h6{color:#222}p+.drop-cap{text-indent:0;margin-top:0}.drop-cap:first-letter{float:left;margin:inherit;padding:inherit;font-size:4em;font-family:inherit;line-height:1;text-indent:0;background:transparent;color:inherit}.lining dt,.lining dd{display:inline;margin:0}.lining dt+dt:before,.lining dd+dt:before{content:"\A";white-space:pre}.lining dd+dd:before{content:", "}.lining dd:before{content:": ";margin-left:-0.2rem}.dictionary-style dt{display:inline;counter-reset:definitions}.dictionary-style dt+dt:before{content:", ";margin-left:-0.2rem}.dictionary-style dd{display:block;counter-increment:definitions}.dictionary-style dd:before{content:counter(definitions,decimal) ". "}.pull-quote{position:relative;padding:1em}.pull-quote:before,.pull-quote:after{height:1em;opacity:0.5;position:absolute;font-size:4em;color:#dc976e}.pull-quote:before{content:'“';top:0;left:0}.pull-quote:after{content:'”';bottom:0;right:0}@font-face{font-family:'Open Sans Regular';src:url("../Fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");font-weight:normal;font-style:normal}@font-face{font-family:'Open Sans Bold';src:url("../Fonts/Open_Sans/OpenSans-Semibold.ttf") format("truetype");font-weight:normal;font-style:normal}body{font-family:'Open Sans Regular', serif}@media only screen and (max-width: 767px){body{padding-top:0px !important}}footer .panel{margin-bottom:0}footer .panel .panel-footer{padding-top:30px}@media only screen and (max-width: 767px){footer .panel .panel-body,footer .panel .panel-footer{padding-left:0;padding-right:0}}h1,h2,h3,h4,h5,h6{font-family:'Open Sans Regular', serif;line-height:1.1}h1{font-family:'Open Sans Regular', serif;letter-spacing:-2.5px}a{color:#b8336a;text-decoration:none;-moz-transition:color,background-color 0.2s;-o-transition:color,background-color 0.2s;-webkit-transition:color,background-color 0.2s;transition:color,background-color 0.2s}a:hover{color:#b8336a}img{max-width:100%;height:auto}.row{margin-bottom:2em}.main-header{background-color:#141414;overflow:hidden;height:100%;padding-top:85px;padding-bottom:115px;margin-bottom:115px;@font font-bold;}.main-header,.main-header h1{color:#fff}.main-header.image{position:absolute;top:0;left:0;right:0;padding:0;padding-top:calc(85px);background-position:50% 50%;background-size:auto 100%;background-repeat:no-repeat;margin-bottom:0}.main-header.image .container{margin-top:calc(33vh + 85px);text-align:center}.main-header.image h1{text-shadow:1px 0 0 rgba(0,0,0,0.5);letter-spacing:-1px}.main-header a{color:#fff;text-decoration:underline}.main-header a:hover{text-decoration:none}@media only screen and (max-width: 767px){.main-header h1{font-size:1.8rem}}.main-header.image+.container{margin-top:calc(100vh)}.typo3-neos-alignment-right{float:right;margin-left:2em;margin-bottom:1em}.typo3-neos-alignment-left{float:left;margin-right:2em;margin-bottom:1em}.carousel{margin-bottom:1.5em}.carousel-indicators{bottom:0}.carousel-indicators li{width:16px;height:16px;margin:0;border-color:#ccc;background-color:#888;-moz-transition:box-shadow 0.1s;-o-transition:box-shadow 0.1s;-webkit-transition:box-shadow 0.1s;transition:box-shadow 0.1s;-moz-box-shadow:0 1px 3px rgba(0,0,0,0.2);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.2);box-shadow:0 1px 3px rgba(0,0,0,0.2)}.carousel-indicators .active{width:16px;height:16px;background-color:#b8336a;-moz-box-shadow:0 1px 6px rgba(0,0,0,0.5);-webkit-box-shadow:0 1px 6px rgba(0,0,0,0.5);box-shadow:0 1px 6px rgba(0,0,0,0.5)}@media only screen and (max-width: 767px){.carousel-indicators{display:none}}.carousel-control.right,.carousel-control.left{background:none}.neos-backend .carousel-control{display:none}@media only screen and (max-width: 767px){.carousel-caption{font-size:15px;padding-bottom:0}}.top-navigation-wrap{background-color:#fff;background-color:rgba(255,255,255,0.92);transition:box-shadow 0.2s linear;min-height:85px}.top-navigation-wrap.scrolling{-moz-box-shadow:0 5px 15px rgba(0,0,0,0.15);-webkit-box-shadow:0 5px 15px rgba(0,0,0,0.15);box-shadow:0 5px 15px rgba(0,0,0,0.15)}@media only screen and (max-width: 767px){.top-navigation-wrap{position:relative;margin-left:-15px;margin-right:-15px}.top-navigation-wrap,.top-navigation-wrap.scrolling{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}}.neos-backend:not(.neos-full-screen) .top-navigation-wrap{top:82px}@media only screen and (max-width: 767px){.neos-backend:not(.neos-full-screen) .top-navigation-wrap{top:auto}}.neos-edit-preview-panel-open:not(.neos-full-screen) .top-navigation-wrap{top:182px}@media only screen and (max-width: 767px){.neos-edit-preview-panel-open:not(.neos-full-screen) .top-navigation-wrap{top:auto}}.neos-inspector-panel-open:not(.neos-full-screen) .top-navigation-wrap{right:320px}.neos-menu-panel-open:not(.neos-full-screen) .top-navigation-wrap,.neos-navigate-panel-open:not(.neos-full-screen) .top-navigation-wrap{left:320px}.first-level-navigation{margin-top:25px;margin-bottom:0}.first-level-navigation a{font-size:1.3em}@media only screen and (max-width: 767px){.first-level-navigation .nav-pills>li{float:none;margin-right:0px}}.second-level-navigation{margin-left:155px;margin-bottom:0;min-height:40px;padding-bottom:8px}@media only screen and (max-width: 767px){.second-level-navigation{display:none}}.second-level-navigation .nav-pills>li{margin-right:30px}.second-level-navigation .nav-pills>li>a{font-size:12px;line-height:20px;font-family:'Open Sans Regular', serif}.second-level-navigation .nav-pills>li:last-of-type{margin-right:0}.navbar-brandlogo{width:50px;height:50px;margin-right:30px;margin-top:-3px}@media only screen and (max-width: 767px){.navbar-brandlogo{margin-top:-9px}}.navbar-default{background-color:transparent;border:none}.navbar-default .navbar-header{padding-bottom:18px}.navbar-default .navbar-toggle{background-color:#b8336a;outline:none;margin-top:0}.navbar-default .navbar-toggle .icon-bar{background-color:#fff}.container .navbar-collapse{max-height:none;padding:0;margin:0}@media only screen and (max-width: 767px){.navbar-collapse{border-bottom:1px solid transparent}}.nav-pills>li{display:block;float:left;width:auto;margin-right:40px}.nav-pills>li+li{margin-left:0}.nav-pills>li:last-of-type{margin-right:0}.nav-pills>li>a{color:#000;font-size:14px;line-height:46px;font-family:'Open Sans Regular', serif;vertical-align:bottom;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;padding:0;text-decoration:none}.nav-pills>li>a:hover{background-color:transparent;color:#141414}.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus,.nav-pills>li.current>a,.nav-pills>li.current>a:hover,.nav-pills>li.current>a:focus{color:#b8336a;background-color:transparent;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}.nav-pills>li li>a{color:#000;font-size:14px;font-family:'Open Sans Regular', serif}.nav-pills>li li>a:hover{background-color:transparent;color:#141414}.nav-pills>li li.active>a,.nav-pills>li li.active>a:hover,.nav-pills>li li.active>a:focus,.nav-pills>li li.current>a,.nav-pills>li li.current>a:hover,.nav-pills>li li.current>a:focus{color:#00ADEE;background-color:transparent;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}.nav .caret{border-top-color:#323232;border-bottom-color:#323232}.nav .active .caret,.nav .current .caret{border-top-color:#fff;border-bottom-color:#fff}.nav-tabs{border-bottom:none}.nav-tabs>li{margin-right:55px;margin-bottom:5px}.nav-tabs>li>a{padding:0;text-decoration:none;border:none}.nav-tabs>li>a:hover{background-color:transparent;color:#141414}.nav-tabs>li.current>a{color:#000;cursor:default;background-color:transparent}.nav-tabs>li.current>a,.nav-tabs>li.current>a:hover{color:#b8336a}footer.navbar{margin-top:20px;margin-bottom:0}.language-menu{float:right;margin-top:25px;font-size:14px;line-height:46px;position:relative;z-index:1001;cursor:pointer;font-family:'Open Sans Regular', serif}.language-menu div .language-menu-full{font-size:14px}.language-menu div .language-menu-short{display:none}.language-menu div span{font-size:10px}@media only screen and (max-width: 767px){.language-menu div{width:44px;height:34px;text-align:center;line-height:30px;text-transform:uppercase;margin-right:15px;background-color:#aaaaa;color:#fff;border:1px solid #ddd;border-radius:4px;margin-bottom:8px}.language-menu div .language-menu-full{display:none}.language-menu div .language-menu-short{display:inline}}.language-menu:hover ul{display:block}.language-menu ul{display:none;margin:0;padding-left:0;position:absolute;background-color:#fff;box-shadow:0 0 2px #000;width:100px}@media only screen and (max-width: 767px){.language-menu ul{width:42px;margin:0 1px;text-align:center}}.language-menu ul:before,.language-menu ul:after{content:'';width:10px;height:10px;position:absolute;top:-5px;left:50%;margin-left:-5px;background-color:#fff}.language-menu ul:before{box-shadow:0 0 2px #000;-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg)}.language-menu ul:after{top:0;width:20px;margin-left:-10px}.language-menu ul li{list-style:none;padding:0 10px;line-height:20px;margin-bottom:10px;font-family:'Open Sans Regular', serif;font-size:13px;color:#000}.language-menu ul li:first-child{margin-top:10px}.language-menu ul li.current a{color:#26224C;text-decoration:underline}.language-menu ul li a{color:#b8336a}.language-menu ul li .language-menu-short{display:none}@media only screen and (max-width: 767px){.language-menu ul li .language-menu-full{display:none}.language-menu ul li .language-menu-short{display:inline;text-transform:uppercase}}.breadcrumb{padding-left:0;color:#000;background-color:transparent}.breadcrumb li{display:inline}.chapter-menu ul{padding-left:0}.chapter-menu li{margin-bottom:10px;list-style-type:none;overflow:hidden;*zoom:1}.chapter-menu li img{margin:0 15px 10px 0}.chapter{padding-top:20px;background-color:#fafafa}.chapter-container{max-width:640px;font-size:1.3em;text-align:justify}.chapter-container p:first-of-type:first-letter{float:left;margin:0 10px 2px 0;padding:inherit;font-size:4em;font-family:Times;line-height:1;text-indent:0;background:transparent;color:#00ADEE}.chapter-container p{margin-bottom:2em}.chapter-container img{max-width:250px;height:auto;margin:0 0 0.5em 0.8em}@media only screen and (max-width: 767px){.chapter-container img{margin-left:auto;margin-right:auto;float:none;display:block;width:100%;max-width:100%}}.chapter-pager{padding-left:0;text-align:center;font-size:0.8em}.chapter-pager li{list-style-type:none;display:inline}.form-navigation li{list-style-type:none}.responsive-video{position:relative;padding-bottom:55%;padding-top:15px;margin-bottom:1.5em;height:0;overflow:hidden}.responsive-video iframe{position:absolute;top:0;left:0;width:100%;height:100%}.flickr-stream ul{padding-left:0}.flickr-stream li{list-style-type:none;width:240px;margin:0 10px 10px;text-align:center}.flickr-stream img{margin-bottom:10px;max-height:190px;max-width:250px}ol.neos-list-decimal{list-style-type:decimal}ol.neos-list-decimal-leading-zero{list-style-type:decimal-leading-zero}ol.neos-list-lower-roman{list-style-type:lower-roman}ol.neos-list-upper-roman{list-style-type:upper-roman}ol.neos-list-lower-greek{list-style-type:lower-greek}ol.neos-list-lower-latin{list-style-type:lower-latin}ol.neos-list-upper-latin{list-style-type:upper-latin}ul.neos-list-disc{list-style-type:disc}ul.neos-list-circle{list-style-type:circle}ul.neos-list-square{list-style-type:square}

 @import url('https://fonts.googleapis.com/css?family=Satisfy');
 h4{
   font-family: 'Satisfy', cursive;
   color: #b8336a;
 }
 h5{
   font-family: 'Satisfy', cursive;
   color: #b8336a;
 }

.navbar img{
   width: 30% !important;
 }
