{namespace ts=TYPO3\TypoScript\ViewHelpers}
<!DOCTYPE html>
<html lang="en">
	<head>
		<f:section name="metadata">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		</f:section>

		<f:section name="stylesheets">
			<link rel="stylesheet" href="{f:uri.resource(path: '3/css/bootstrap.min.css', package: 'TYPO3.Twitter.Bootstrap')}" media="all" />
			<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/NeosDemo.css', package: 'Neos.Demo')}" media="all" />
			<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/Print.css', package: 'Neos.Demo')}" media="print" />
			<f:if condition="{node.context.workspace.name} != 'live'">
				<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/Backend.css', package: 'Neos.Demo')}" media="all" />
			</f:if>
		</f:section>
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93559273-1', 'auto');
  ga('send', 'pageview');
  ga('set', 'anonymizeIp', true);
</script>
	</head>

	<body>
		<f:section name="body">
			<div class="top-navigation-wrap">
				<div class="container">
					{parts.languageMenu -> f:format.raw()}
					{parts.mainMenu -> f:format.raw()}
					{parts.secondLevelMenu -> f:format.raw()}
				</div>
			</div>

			<f:if condition="{landingPage}">
				<div class="main-header{f:if(condition: imageUri, then: ' image" style="background-image: url({imageUri});')}"{f:if(condition: imageTitleText, then: ' title="{imageTitleText}"')}>
					<div class="container">
						{content.teaser -> f:format.raw()}
					</div>
				</div>
			</f:if>

			<div class="container">
				{parts.breadcrumb -> f:format.raw()}
				{content.main -> f:format.raw()}
			</div>

			<footer role="navigation" class="navbar navbar-default">
				<div class="panel panel-default">
					<div class="panel-body clearfix">
						<div class="container">
							{parts.metaMenu -> f:format.raw()}
						</div>
					</div>
					<div class="panel-footer">
						<div class="container">
							{footer -> f:format.raw()}
						</div>
					</div>
				</div>
			</footer>

		</f:section>
		<f:section name="bodyScripts">
			<script src="{f:uri.resource(path: 'Libraries/jQuery/jquery-1.10.1.min.js', package: 'TYPO3.Twitter.Bootstrap')}"></script>
			<script src="{f:uri.resource(path: '3/js/bootstrap.min.js', package: 'TYPO3.Twitter.Bootstrap')}"></script>
			<script src="{f:uri.resource(path: 'JavaScript/main.min.js', package: 'Neos.Demo')}"></script>
		</f:section>
	</body>
</html>
